.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0 0;
}

.header .searchBar {
  width: 50%;
}

.getApp {
  font-size: 0.7rem;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
}

.header.homeHeader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.header.getAppHeader {
  position: relative;
}

.header.getAppHeader::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  height: 1px;
  background-color: #eaeaea;
}

.header.getAppHeader {
  justify-content: flex-end;
}
