.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0 0;
}

.header .searchBar {
  width: 50%;
}

.getApp {
  font-size: 0.7rem;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
}
