.appLinks {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 0.5rem;
  gap: 0.5rem;
}

.appLinks.row {
  flex-direction: row;
}

.appLinks img {
  width: 100%;
}

.appLinks.row a {
  width: 30%;
}
